In [2]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
from datetime import datetime

In [3]:
df = pd.read_csv('constituents.csv')
df.head()

  Symbol                 Name       Sector
0    MMM                   3M  Industrials
1    AOS          A. O. Smith  Industrials
2    ABT  Abbott Laboratories  Health Care
3   ABBV               AbbVie  Health Care
4   ABMD              Abiomed  Health Care

In [9]:
#get crypto data for last 5 years
def get_crypto_data(ticker):
    start = datetime(2017, 1, 1)
    end = datetime.now().date()
    df = web.DataReader(ticker, 'yahoo', start, end)
    return df
get_crypto_data('BTC-USD')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-12-31,963.742981,947.236023,960.627014,963.742981,9.913510e+07,963.742981
2017-01-01,1003.080017,958.698975,963.658020,998.325012,1.477750e+08,998.325012
2017-01-02,1031.390015,996.702026,998.617004,1021.750000,2.221850e+08,1021.750000
2017-01-03,1044.079956,1021.599976,1021.599976,1043.839966,1.851680e+08,1043.839966
2017-01-04,1159.420044,1044.400024,1044.400024,1154.729980,3.449460e+08,1154.729980
...,...,...,...,...,...,...
2021-11-02,64242.792969,60673.054688,60963.253906,63226.402344,3.774667e+10,63226.402344
2021-11-03,63516.937500,61184.238281,63254.335938,62970.046875,3.612473e+10,62970.046875
2021-11-04,63123.289062,60799.664062,62941.804688,61452.230469,3.261585e+10,61452.230469
2021-11-05,62541.468750,60844.609375,61460.078125,61125.675781,3.060510e+10,61125.675781
2021-11-06,61322.492188,60946.582031,60993.109375,61313.949219,3.054874e+10,61313.949219

In [5]:


def get_data(ticker):
    '''get last 5 years data from yahoo finance'''
    now = datetime.now()
    start = datetime(now.year - 5, now.month, now.day)
    return web.DataReader(ticker, 'yahoo', start=start, end=now)

get_data('AAPL')

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-11-07,27.627501,27.365000,27.520000,27.602501,130240000.0,25.981733
2016-11-08,27.930000,27.424999,27.577499,27.764999,97016800.0,26.134687
2016-11-09,27.830000,27.012501,27.469999,27.719999,236705600.0,26.092331
2016-11-10,27.772499,26.457500,27.772499,26.947500,228538000.0,25.365191
2016-11-11,27.217501,26.637501,26.780001,27.107500,136575600.0,25.515797
...,...,...,...,...,...,...
2021-11-01,149.699997,147.800003,148.990005,148.960007,74588300.0,148.742920
2021-11-02,151.570007,148.649994,148.660004,150.020004,69122000.0,149.801376
2021-11-03,151.970001,149.820007,150.389999,151.490005,54511500.0,151.269241
2021-11-04,152.429993,150.639999,151.580002,150.960007,60394600.0,150.740005
2021-11-05,152.199997,150.059998,151.889999,151.279999,65414600.0,151.279999